<ul>
  <li *ngFor="let x of dataList" style = "list-style: none">
    <ng-container *ngIf="getType(x.value) !== 'object'; else object">
      
      <span style="margin-left: 14px">&nbsp;{{x.key}}: {{x.value}}</span>
      
    </ng-container>

    <ng-template #object>
      
        <span>
          <a href="javascript:void(0)" (click)="x.show = !x.show"><i class="fa {{x.show ? 'fa-minus' : 'fa-plus'}}" ></i></a> 
          {{x.key}}: <app-tree-view *ngIf="x.show" [data]="x.value"></app-tree-view>
        </span>
      
    </ng-template>
  </li>
</ul>